DATABASE_URL=mysql+pymysql://root:your_password@localhost:3306/artonline
FRONTEND_ORIGIN=http://localhost:4200
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=$argon2id$v=19$m=65536,t=3,p=4$/GmyWmOBLV0tjflTGdzv8w$63D7L6wM9mxpy60iv52OB6yuiKHi6IJ+CRCp9yr7yFQ
AUTH_SECRET_KEY=replace_with_a_random_secret_at_least_32_characters
AUTH_COOKIE_SECURE=false